# plugin.cfg - central configuration file for the LoxBerry plugin.
# INI-style, must be saved in Unix format (line ending: LF).

[AUTHOR]
NAME=Michael Kaufmann
EMAIL=kaufmann-michael@outlook.de

[PLUGIN]
VERSION=1.0
# Eigene Kennung, bewusst NICHT "docker": laesst sich neben dem urspruenglichen
# loxberry-plugin-docker installieren, statt es zu ersetzen oder zu kollidieren.
NAME=dockerng
FOLDER=dockerng
TITLE=Docker NG
WEBSITE=https://wiki.loxberry.de/plugins/docker-ng/start

[AUTOUPDATE]
AUTOMATIC_UPDATES=true
RELEASECFG=https://raw.githubusercontent.com/blacksun80/LoxBerry-Plugin-Docker-NG/master/release.cfg
PRERELEASECFG=https://raw.githubusercontent.com/blacksun80/LoxBerry-Plugin-Docker-NG/master/prerelease.cfg

[SYSTEM]
REBOOT=false
# Bewusst LB3-kompatibel (nicht V4-exklusiv wie UniFi Controller NG): die
# Oberflaeche nutzt LoxBerry::Web/LoxBerry::System im aelteren, 3-Parameter-
# lbheader()-Stil, der auf LB3 und LB4 gleichermassen funktioniert.
LB_MINIMUM=3.0.0
LB_MAXIMUM=false
# Kein Ausschluss: Docker und Portainer bieten beide armv7-Abbilder an, anders
# als UniFi Network Application/MongoDB bei UniFi Controller NG.
ARCHITECTURE="raspberry,x86"
CUSTOM_LOGLEVELS=true
INTERFACE=2.0
